<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.mapper.InterfaceStatisticsMapper">

    <select id="findByUri" resultType="com.jsh.entity.InterfaceStatistics">
        select id,uri,ip,date,num from
    </select>
</mapper>
